* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background:url(background.jpg);
}



header {
    background: #222;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #00ff1a;
}

.profile-img {
    width: 280px;
    border-radius: 10px;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.home-content {
    max-width: 50%;
}

.home-content h1 {
    font-size: 40px;
}

.home-content span {
    color: #00602e;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #02721c;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

section {
    padding: 50px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}
